.mainDiv{
   display: inline-flex;
   padding:15px;
   margin:10px;
   display: inline;
}
label{
    color: rgb(248, 104, 8);
    margin: 10px;
    font-size: large;
    font-weight: bold;
}
input{
    width: 120px;
    height:35px;
}
button{
    color:rgb(248, 104, 8);
    border-radius: .5em;
    width:90px;
    height:35px;
    font-size: large;
    margin-top:22px;
    margin-left: 30px;
}
#submitBtn{
    margin :20px;
}
select{
    border-radius: .4em;
    width:80px;
    color: rgb(248, 104, 8);
    height:40px;
    font-size: medium;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color:#363636;
    box-shadow: 3px 3px #888888;
    border-color: rgb(248, 104, 8);
}
#removeBtn{
    margin-right:10px;
    font-size: medium;
    font-weight: bold;

}
.topResultDiv{
    display: inline;
    align-items: center;
    justify-content: center;
}

.resultDiv{
    margin:10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid orange;
    width: auto;
    height: auto;

}

h4{
    padding:10px;
    font-size: large;
}
span{
    color:green;
    padding: 10px;
}
#showPurchased, #showAlphabetical, #showQuantity, #showNotPurchased{
    width: 200px;
}